-r requirements.txt
anyio==4.6.2.post1
httpx==0.27.2
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-mock==3.14.0
pre_commit==4.0.1
commitizen==3.29.1
black==24.10.0
isort==5.13.2
flake8==7.1.1
mypy==1.12.0
mypy-extensions==1.0.0
